<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Tech Test
  </h1>
  <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div *ngIf="loading">Loading...</div>
<div *ngIf="error">{{error}}</div>

<div *ngIf="!hasResponse">
  <h2>Fill your forms: </h2>
  <fieldset>
    <label>Country</label>
    <select [(ngModel)]="request.EmployeeLocation">
      <option *ngFor="let contry_item of countries">{{contry_item}}</option>
    </select>
  </fieldset>
  <fieldset>
    <label>Hourly Rate</label>
    <input type="number" [(ngModel)]="request.HourlyRate" />
  </fieldset>
  <fieldset>
    <label>Hours Worked</label>
    <input type="number" [(ngModel)]="request.HoursWorked" />
  </fieldset>
  <button (click)="calculate()" [disabled]="!validate()">Calculate</button>
</div>

<div *ngIf="hasResponse">
  <h2>Calculation result: </h2>
  <ul>
    <li>Employee location:{{response.EmployeeLocation}}</li>
    <li>Gross Amount:{{response.GrossAmount}}</li>
    <li>Less deductions:{{response.NetAmount}}</li>
    <li>Income Tax :{{response.IncomeTax}}</li>
    <li>Universal Social Charge:{{response.UniversalSocialCharge}}</li>
    <li>Pension:{{response.Pension}}</li>
  </ul>
</div>
